
<div class = "container" id="contactpanel" animateOnScroll animationName="animated slideInLeft">
    <h1>Contact Us</h1>
    <p>and we will reach out to you as soon as possible!</p>
    <p id = "message"></p>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form  [formGroup]="firstFormGroup">
                <ng-template matStepLabel><h3>E-mail: </h3></ng-template>
                  <input matInput    type = "text" placeholder="E-mail" formControlName="firstCtrl"  required>
                <div>
                  <button class = "butt" mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form  [formGroup]="secondFormGroup">
                <ng-template matStepLabel><h3>Name: </h3></ng-template>
                  <input matInput   type = "text" placeholder="Name" formControlName="secondCtrl" required>
                <div>
                  <button class = "butt" mat-button matStepperPrevious>Back</button>
                  <span class="spacer"></span>
                  <button class = "butt" mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
                <form  [formGroup]="thirdFormGroup">
              <ng-template matStepLabel><h3>Description</h3></ng-template> 
                <textarea matInput  type = "text" id= "Text" rows="4" cols="50" placeholder="Description"  formControlName="thirdCtrl"  required></textarea>
                </form>
              <div>
                <button class = "butt" mat-button matStepperPrevious>Back</button>
                <span class= "spacer"></span>
                <button class = "butt" mat-button type="submit" (click)="SetSender();SetName();SetMessage();Mail();stepper.reset()">Send</button>
              </div>
            
            </mat-step>
          </mat-horizontal-stepper>
</div>


