<!--<section class="cd-section cd-section--bg-fixed">
  <mat-toolbar class = "container">
    <mat-toolbar-row class = "content">
      <img src = "./assets/loogo.png">
      <span class = "spacer"></span>
      <a routerLink="/services" routerLinkActive="active" href="#">Services</a>
      <a routerLink="/aboutus" routerLinkActive="active" href="#">About Us</a> 
      <a routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
    </mat-toolbar-row>
  </mat-toolbar>
      
  <div class="screen">
    <router-outlet></router-outlet>
  </div>
</section>-->

  <section class="cd-section cd-section--bg-fixed" id="top">
    <app-carousel></app-carousel>
  <app-aboutus></app-aboutus>
  <app-services></app-services>
  <app-contact></app-contact>>
</section>
