<mat-toolbar class = "container">
    <mat-toolbar-row class = "content">
        <a [routerLink]="['app']" [fragment]="'top'" class = "logoimg"><img  src = "./assets/loogo.png"></a> 
      
      <span class = "spacer"></span>
      <a [routerLink]="['app']" [fragment]="'aboutuspanel'" class = "navtext">About Us</a> 
      <a  [routerLink]="['app']" [fragment]="'servicespanel'" class = "navtext">Services</a>
      <a [routerLink]="['app']" [fragment]="'contactpanel'" class = "navtext">Contact</a>
    </mat-toolbar-row>
</mat-toolbar>
