<mat-grid-list cols="3" id="servicespanel">
  <div class="header-grid">
      <h2>Explore <span class="special">Our Services</span></h2>
  </div>
    <mat-grid-tile>
      <mat-card>    
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/web-development_website.png" style="width:350px;height:230px;">
                  <mat-card-header>
                    <h3>Web Development</h3>
                  </mat-card-header>
                </div>
                <div class="flip-card-back">
                  <h3>Web Development</h3>
                  <div class="content-container">
                      <p>We create custom web software 
                          solutions for various 
                          means incorporating your
                           business needs as customer
                            and our technical expertise.</p>
                  </div>
                  <button type="button" class="btn btn-outline-dark">LEARN MORE</button> 
                </div>
              </div>
            </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>    
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/application_photo.jpg" style="width:350px;height:230px">
                  <mat-card-header>
                    <h3>Custom Mobile Applications</h3>
                  </mat-card-header>
                </div>
                <div class="flip-card-back">
                  <h3>Custom Mobile Applications</h3>
                  <button type="button" class="btn btn-outline-dark">LEARN MORE</button>
                  </div>
              </div>
            </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>    
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/pentesting_photo.jpg" style="width:350px;height:230px;">
                  <mat-card-header>
                    <h3>Pentesting</h3>
                  </mat-card-header>
                </div>
                <div class="flip-card-back">
                  <h3>Pentesting</h3>
                  <button type="button" class="btn btn-outline-dark">LEARN MORE</button>
                  </div>
              </div>
            </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>