.container{
    width:100%; 
    padding-left: 0;
    padding-right: 0;
    height:auto;
}
.carousel{
    width:100%;
}
video{
    width:100%;
}
.carousel-caption{
    height: 60%;
}
h1{
    font-family: "Verdana",sans-serif;
    font-weight: bold;
    font-size:2.5vw;
    color:#ECE9E6;
}
h3{
    font-family: "Verdana",sans-serif;
    font-weight: bold;
    font-size:1.6vw;
    color:#ECE9E6;
}